---
# Only the main Sass file needs front matter (the dashes are enough)
---

$primary: #337ab7 !default; // Override

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap/bootstrap";
@import "syntax-highlighting";

body {
  font-size: 1.15em;
}

.container {
  max-width: 820px;
}

h1 {
  font-size: 2.1em;
} h2 {
  font-size: 1.7em;
} h3 {
  font-size: 1.4em;
} h4 {
  font-size: 1.1em;
}

#site-title {
  text-align: center;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: black;
  padding: 0.5em 0rem;
  margin: 0em;
}

#site-footer {
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: black;
  margin: 0em;
  padding: 1.4em 0em;

  p { margin: 0em; }
}

#page-content {
  margin: 1em 0em;
}

table {
  margin: 1em 0px;

  th {
    background: #ddd;
  }

  th, td {
    border: 1px solid #333;
    padding: 4px 10px;
    vertical-align: top;
  }

  td.green {
    background-color: #8efa93;
  }

  td.light-green {
    background-color: #e7fae8;
  }
}

.full-width {
  width: 100%;
}

.ext {
  font-weight: bold;
  color: #919191;
  display: inline-block;
  padding: 0px 2px;
}

.beta {
  font-weight: bold;
  display: inline-block;
  padding: 0px 2px;
  color: #ff9300;
}

.strong {
  font-weight: bold;
}

.soft {
  opacity: 0.7;
}

ul {
  list-style-type: none;
  padding: 0rem;

  li:before { content: "— " };
}

.with-placeholders {
  line-height: 2em;
  .placeholder {
    border: 1px solid rgb(196, 212, 241);
    border-radius: 1em;
    background: rgb(233, 239, 250);
    margin: 2px 2px;
    padding: 2px 5px;
  }
}

#uihex {
  width: 100%;

  #results {
    display: none;
  }

  #input-container {
    text-align: center;
    padding: 1em 0em;
  }

  input {
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em;
    width: 7.5em;
    color: #399CD3;
  }

  .btn {
    float: right;
    padding: 8.5px 15px;
    margin: 0px 0px 10px 5px;
  }

  .color-preview {
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    border: 1px solid white;
    margin: -0.5em 0.5em;
  }

  @media screen and (max-width: 767px) {
    body {
      font-size: 1.6em;
      line-height: 1.8em;
    }

    .content {
      margin-top: 0px;
    }
  }
}

pre {
  font-size: 0.9rem;
  padding: 9.5px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#markdown-toc {
  font-weight: bold;
  font-size: 0.8em;
  display: inline-block;
  padding: 0.2em;
  border: 1px solid #999;
  border-radius: 5px;
  background: #fafafa;
  list-style-type: none;
  color: #999;
  margin: 0.5em 0em;

  code {
    color: inherit;
    background-color: inherit;
  }
}

#compact-toc {
  #markdown-toc {
    li:before { content: "" };

    li {
      display: inline-block;
      padding: 0em 0.4em;

      ul {
        display: none;
      }
    }
  }
}
@media screen and (min-width: 767px) {
  .nowrap {
    white-space: nowrap;
  }
}
