---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap";

body {
  font-size: 1.9em;
}

.container {
  max-width: 800px;
}

#site-title {
  text-align: center;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: black;
  padding: 0.5rem 0rem 2.5rem;
  margin-bottom: 0rem;
}

#site-footer {
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: black;
  margin-top: 1.5rem;
  padding: 2.5rem 0rem;
}

table {
  margin: 1em 0px;

  th {
    background: #ddd;
  }

  th, td {
    border: 1px solid #333;
    padding: 4px 10px;
    vertical-align: top;
  }

  td.green {
    background-color: #8efa93;
  }

  td.light-green {
    background-color: #e7fae8;
  }
}

.full-width {
  width: 100%;
}

.ext {
  font-weight: bold;
  color: #ff7e79;
  display: inline-block;
  padding: 0px 2px;
}

.strong {
  font-weight: bold;
}

.soft {
  opacity: 0.7;
}

ul {
  list-style-type: none;
  padding: 0rem;

  li:before { content: "— " };
}
