---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap";

body {
  font-size: 1.9em;
}

.container {
  max-width: 600px;
}

#site-title {
  text-align: center;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: black;
  padding-bottom: 0.7em;
}

table {
  margin: 1em 0px;

  th {
    background: #ddd;
  }

  th, td {
    border: 1px solid #333;
    padding: 4px 10px;
  }

  td.green {
    background-color: #b3fab6;
  }
}
